{
  "env":{
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2019
  },
  "rules": {
    "no-console": 0,
    "semi": 2,
    "arrow-body-style": 2,
    "prefer-const": 2,
    "space-infix-ops": 2,
    "comma-spacing": 2,
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": 2,
    "quote-props": [2, "as-needed"]
  },
  "extends":[]
}
